.gallery {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
}
.feactured {
  grid-column: span 1;
}

.card{
    border:3px solid brown;
    border-radius:22px;
    margin: 10px;
}